<footer class="footer">
  <small>
    Solilo</a>
    by <a href="https://www.travisehrenstrom.com/">Travis Ehrenstrom</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>